.settings__container{
	position: absolute;
	display: none;
	flex-direction: column;
	justify-content: space-around;
	min-width: 100vw;
	min-height: 500px;
	top: 50%;
  transform: translateY(-50%);
	z-index: 9;
	background: rgba($color: #000000, $alpha: 0.0);
	// background-size: cover;
	// background-position: center;
	// background-repeat: no-repeat;
}

.settings__header{
	width: 100%;
	min-height: 78px;
	display: none;
	align-items: center;
	z-index: 10;
	position: fixed;
	top: 0;
	justify-content: center;
}




.back-btn{
	position: absolute;
	left: 0;
	align-self: center;
	margin: 20px;
	min-width: 34px;
	min-height: 34px;
	border: 0;
	background-image: url(./assets/svg/arrow-back.svg);
	background-color: inherit;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	justify-self: flex-start;
	cursor: pointer;
}

.settings-title{
	color: #ffffff;
	font-size: 20px
}

.settings__form{
	width: 100%;
	height: 400px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.container__label{
	font-size: 18px;
}
.notify__container{
	min-width: 200px;
	min-height: 80px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.timer__container{
	min-width: 200px;
	min-height: 80px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.timer__input{
	width: 40px;
	height: 40px;
}

.time__container{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.time-input__container{
	min-width: 200px;
	min-height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.time-btn{
	width: 40px;
	height: 40px;
	border: 2px solid #ffffff;
	border-radius: 50%;
	font-size: 20px;
	background-color: inherit;
	transition: all 0.3 ease-in-out;
	cursor: pointer;
	&:hover{
		color: #000000;
		background-color: #ffffff;
	}
}

.time__input{
	width: 40px;
	height: 40px;
	border: 0;
	font-size: 20px;
	text-align: center;
	background-color: inherit;
	transition: all 0.3 ease-in-out;
}

.settings-buttons__container{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.settings-form-btn{
	height: 50px;
	width: 140px;
	border: 2px solid #ffffff;
	border-radius: 30px;
	background-color: inherit;
	transition: all 0.3 ease-in-out;
	cursor: pointer;
	&:hover{
		background-color: #ffffff;
		color: #000000;
	}	
}