@import './styles/variables';
@import './styles/fonts';
@import './styles/home-screen';
@import './styles/settings-screen';
@import './styles/categories-screen';
@import './styles/question-screen';
@import './styles/answer-modal';
@import './styles/footer';

html{
	box-sizing: border-box;
}

*, ::after, ::before{
	box-sizing: inherit;
	color: #ffffff;
	font-family: 'Nunito', sans-serif;

}

body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	// background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./assets/images/background/98full.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
	margin: 0;
	// font-family: 'Nunito', sans-serif;
}

.main-content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	margin: 0;
}

.header{
	min-height: 78px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.homescreen__header{
	width: 1440px;
	display: flex;
	justify-content: flex-end;
	margin: auto;
	z-index: 11;
}

.settings-btn{
	display: flex;
	margin: 20px;
	background-image: url(./assets/svg/settings.svg);
	background-color: inherit;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 34px;
	height: 34px;
	border: 0;
	cursor: pointer;
}

.homescreen{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	min-height: 300px;
	min-width: 270px;
}

.quiz-category{
	background: inherit;
	border-radius: 30px;
	width: 270px;
	height: 56px;
	border: 3px solid #ffffff;
	cursor: pointer;
	text-align: center;
	line-height: 56px;
	text-decoration: none;
	font-size: 24px;
  color: #ffffff;
	transition: all 0.3s ease-in-out;
	&:hover{
		color: #000000;
		background-color: #ffffff;
	}
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes rollin {
  0% {
    opacity: 0;
    transform: translateX(200%) ;
  }
  100% {
    opacity: 1;
    transform: translateX(0px) ;
  }
}

@keyframes rollout {
  0% {
    opacity: 0;
		transform: translateX(0px) ;
  }
  100% {
		opacity: 1;
		transform: translateX(-200%) ;
  }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes gelatine {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}

@keyframes grow {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

.grow{
	animation: grow 0.5s;
}

.gelatine{
	animation: gelatine 0.5s;
}

.shake {
	animation: shake 0.5s;
}

.rollin{
	animation: rollin 0.5s;
}

.fadein{
	animation: fade-in 0.5s;
}

.hide{
	display: none;
}

.show{
	display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}